{% extends "base.html" %}
{% load static %}
{% block title %}
Контакты
{% endblock title %}
{% block body %}
<div class = 'text-center mt-5'>
<h3>
Телефоны: <br>
+375 232 29-16-93 (Городской)<br>
+375 447 51-15-89 (Life)
</h3>
</div>
<div class = 'text-center mt-5'>
<h3>Адрес: <br>
Гомельская область, г. Гомель, ул. Оршанская, 20
</h3>
<br>
<h3>Почтовый адрес: <br>
246039
г. Гомель,
ул. Весенняя,
174А
</h3>
<h3>Факс: <br>
232 29-16-93
</h3>
<h3>УНП: <br>
491382510
</h3>
</div>
<h4>
<div class = 'text-center mt-5'>
<a href='https://yandex.by/maps/155/gomel/house/Z0kYfwZkS0cAQFtofXhyd3tmZQ==/?ll=30.914227%2C52.436751&z=16.69'>Найти нас на карте</a>
</h4>
</div>
{% endblock body %}